.modal {
    border-radius: 5px;
    background-color: white;
    width: 500px;
    height: 300px;
    z-index: 9999;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -80%);
    padding: 15px;
    text-align: center;
}

.modal input {
    width: 80%;
    font-size: 16px;
}

.modal button {
    font-size: 18px;
    margin: 5px;
}
