body {
    font-family: sans-serif;
}

.navigation div {
    display: inline-block;
    float: right;
    font-size: 23px;
    margin-top: 30px;
    margin-right: 19%;
}

.navigation {
    border-bottom: 2px solid black;
}

.navigation div a {
    margin-left: 25px;
}

.navigation h1 {
    display: inline-block;
    margin-left: 18.5%;
}

.container {
    display: flex;
    justify-content: center;
}

.container-inner {
    width: 1200px;
}